@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-checkbox {
  width: 15px;
  height: 15px;
  border-radius: 20%;
  appearance: none; /* Removes default styling */
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
  position: relative;
}

.custom-checkbox:checked {
  background-color: #5a67d8;
}

.custom-checkbox:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0px;
  height: 0px;
  background-color: #fff;
  border-radius: 20%;
  transform: translate(-50%, -50%);
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
}

.gutter.gutter-vertical:hover {
  cursor: ew-resize !important;
}

 .VIpgJd-ZVi9od-l4eHX-hSRGPd{
  display: none !important;
} 
.VIpgJd-ZVi9od-ORHb-OEVmcd{
  position: absolute;
  top: -10rem;
  left: 0;
  visibility: hidden !important;
}

.goog-te-combo:first-of-type{
  display: none !important;
}